{% extends "layout.njk" %}


{% block links %}
<link rel="stylesheet" href="/styles/menu.css">
{% endblock links %}

{% block title %}
<title>Page-Instructor</title>
{% endblock title %}

{% block pages %}
<a href="/">
    Rocketseat Home
</a>
{% endblock pages %}

{% block content %}
<div class="card">
    <section 
    class="avatar" 
    style="background: url({{ instructor.avatar_url }}) no-repeat center center / cover"></section>
    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Instrutor</div>
            <div>{{ instructor.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ instructor.age }}</div>
        </div>

        <div class="item">
            <div>Graduação</div>
            <div>{{ instructor.degree }}</div>
        </div>

        <div class="item">
            <div>Aula</div>
            <div>{{ instructor.teaching }}</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
               {% for service in instructor.services %}
                    <span>{{ service }}</span>
               {% endfor %}
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ instructor.created_at }}</div>
        </div>

        <a href="{{ instructor.id }}/edit" class="button">Editar</a>

    </section>
</div>
{% endblock content %}