{% extends "layout.njk" %}


{% block links %}
<link rel="stylesheet" href="/styles/menu.css">
{% endblock links %}

{% block title %}
<title>Page-Student</title>
{% endblock title %}

{% block pages %}
<a href="/">
    Rocketseat Home
</a>
{% endblock pages %}

{% block content %}
<div class="card">
    <section 
    class="avatar" 
    style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>
    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Estudante</div>
            <div>{{ student.name }}</div>
        </div>

        <div class="item">
            <div>Email</div>
            <div>{{ student.email }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ student.age }}</div>
        </div>

        <div class="item">
            <div>Aniversário</div>
            <div>{{ student.birth }}</div>
        </div>

        <div class="item">
            <div>Grau</div>
            <div>{{ student.grade }}</div>
        </div>

        <div class="item">
            <div>Carga Horária Semanal</div>
            <div>{{ student.weekTime }}</div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ student.created_at }}</div>
        </div>

        <a href="{{ student.id }}/edit" class="button">Editar</a>

    </section>
</div>
{% endblock content %}